<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ProveedorController</servlet-name>
        <servlet-class>mx.edu.utng.proveedores.controller.ProveedorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProveedorController</servlet-name>
        <url-pattern>/ProveedorController</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>EstudianteController</servlet-name>
        <servlet-class>mx.edu.utng.proveedores.controller.EstudianteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EstudianteController</servlet-name>
        <url-pattern>/EstudianteController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
